body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.colorJumbotron {
    background-color: #777777;
    margin: 15px 0px 15px -10px;
}

.campeonatoFilme {
    color: #e5e5e5;
}

.colorFaseSelecao {
    color: #eeeeee;
}

.linha{
    text-align:center;
    width:4%;    
}

.divBox {
    background-color: gray;
    background-color: gray;
    width: 25%;
    height: 80px;
    border: 5px solid #ffffff;
}

.botao{
    background-color:black;
}

.divBoxResultado {   
    background-color: gray;
    width: 10%;
    height: 80px;
    border: 5px solid #ffffff;
}
.divBoxResultado2 {
    background-color: gray;
    width: 89%;
    height: 79px;
    border: 5px solid #ffffff;
}

.lblColocacao {
    margin: 15px 0px 0px 28px !important;
    font-size: 30px;
}

.lblColocacao2 {
    margin: 15px 0px 0px 28px !important;
    font-size: 30px;
}






